
.view-color-green {
    background-color: rgba(77, 250, 144, 0.3);
}
.view-color-yellow {
    background-color: rgba(250, 190, 77, 0.3);
}
.view-color-red {
    background-color: rgba(255, 84, 104, 0.3);
}

.view-item-disabled {
    opacity: 0.5;
}

.x-body {
    background-image: url(https://cdn.glitch.com/3bf41616-295c-4248-a432-22966a21726f%2Fbackimage.png?v=1610420317676) !important;
    background-repeat: no-repeat !important;
    background-color: #ABADB5 !important;
    background-size: cover !important;
}
.x-window-default {
    border-style: none !important;
    background-color: #fff "important;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.09) !important;
}
.toolbar-header-style {
    background-color: #ABADB5 !important;
}
.x-panel-header-default {
    background-color: #ABADB5 !important;
}
.x-btn-default-small {
    background-color: #ABADB5 !important;
}
body.x-border-layout-ct, div.x-border-layout-ct {
    background-color: #ABADB5 !important;
}






.x-fieldset {
    overflow: visible !important; /* workaround for Safari issue */
}

#update {
    position: absolute;
    width: 100%;
    top: 20px;
    font-weight: bold;
    text-align: center;
}

#attribution {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: x-small;
}

#spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border-top: 6px solid #d42626;
    border-right: 6px solid transparent;
    animation: spinner .6s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
